body {
    background-color: #fff0f5;
    padding-top: 70px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #c9bfc3;
    line-height: 1.6;
  }
  
  .topo {
    background-color: #ff69b4;
    color: white;
  }
  
  .btn-menu {
    background-color: white;
    color: #ff69b4;
    border: none;
  }
  
  .header-text {
    text-align: center;
    padding: 40px 20px;
  }
  
  .section {
    padding: 60px 30px;
    margin-top: 40px;
    background-color: #ffffff;
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(192, 39, 115, 0.1);
  }
  
  .section h2 {
    text-align: center;
    margin-bottom: 20px;
    font-weight: 600;
    color: #ff69b4;
  }
  
   .carousel-item{
    height: 700px;
}

.carousel-caption h2{
    font-size: 36px;
}

.carousel-caption{
    text-align: left;
}
